.menu2 
{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.75);
position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 260px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05)
}

.logo3
{
position: absolute;
width: 40px;
height: 40px;
left: 140px;
top: 275px;
}

.logo_detal3
{
position: absolute;
width: 11.76px;
height: 11.76px;
left: 149.41px;
top: 290.29px;

}

.logo_detal13
{
   /* Vector */
position: absolute;
width: 9.12px;
height: 5.91px;
left: 161.47px;
top: 290.29px;

}

.toxin2 
{
position: absolute;
width: 53.19px;
height: 12.95px;
left: 192.5px;
top: 288.33px;

}

.home2
{
position: absolute;
width: 45px;
height: 18px;
left: 595px;
top: 285px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
}

.about2
{
   position: absolute;
width: 66px;
height: 18px;
left: 668px;
top: 285px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
   
}
.services2
{
position: absolute;
width: 58px;
height: 18px;
left: 762px;
top: 285px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
      }
.expand2
      {
position: absolute;
width: 24px;
height: 21px;
left: 818px;
top: 283px;
font-family: Material Icons;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;  
color: rgba(31, 32, 65, 0.5);
      }
.careers2
      {
position: absolute;
width: 53px;
height: 18px;
left: 862px;
top: 285px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
      }
.news2
      {
position: absolute;
width: 39px;
height: 18px;
left: 944px;
top: 285px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
      }
.doc2
{
position: absolute;
width: 113px;
height: 18px;
left: 1012px;
top: 285px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.5);
      }
.trait
{
  position: absolute;
width: 1px;
height: 30px;
left: 1155px;
top: 280px;
border: 1px solid rgba(31, 32, 65, 0.1);
      }

.cosmin_text
{
position: absolute;
width: 114px;
height: 18px;
left: 1186px;
top: 286px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);

